@use 'reset';
@use 'fonts';
@use 'margins';
@use 'titles';
@use 'text';
@use 'svg';
@use 'width';

:root {
  --dark-color: #000000;
  --dark-active-color: #161616;
  --dark-transparency-color: rgba(0, 0, 0, 0.7);
  --dark-hover-color: #161616;
  --light-color: #ffffff;
  --light-transparent-color: rgba(255, 255, 255, 0.8);
  --primary-color: #ae7aff;
  --gray-color: #5f646d;
  --message-color: #404040;

  --aquamarine-color: rgb(94 234 212);
  --aquamarine-transparency-color: rgba(45, 212, 191, .1);

  --light-border: 1px solid var(--light-color);
}

body {
  position: relative;
  font-family: 'JetBrains Mono', sans-serif;
  background: var(--dark-color);
  color: var(--light-color);

  &::before {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: -1;
    background: url(/portfolio-angular/assets/imgs/bg-0.jpg) center/cover fixed;
    filter: blur(8px) brightness(0.4);
  }
}

.skill__wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
    margin-bottom: -12px;
}

.skill-tag {
    color: var(--aquamarine-color);
    background: var(--aquamarine-transparency-color);
    border-radius: 32px;
    padding: 8px 12px;

    font-family: "JetBrain Mono", serif;
    font-size: 14px;
    font-weight: 500;
    line-height: 16px;
    margin-bottom: 12px;
}

.link {
  padding: 4px;

  &:hover,
  &:focus-visible {
    color: var(--aquamarine-color);
  }
}

.display-none__desktop {
  display: none;
}
@media (max-width: 700px) {
  .display-none__mobile {
    display: none;
  }
  .display-none__desktop {
    display: block;
  }
}